<%- include('partials/header.ejs') %>

    <h1>Registration Successful!</h1>
    <p>Welcome <%= firstName %> <%= lastName %>, you are now registered!</p>
    <p>We have sent you an email at <%= emailAddress %>.</p>

</div> </body>
</html>