<%- include('partials/header.ejs') %>

        <!--Search page-->
        <h1>Search Page</h1>
        <h2>What are you after?</h2>
        <form action="/search_result" method="GET">
            <label for="name_input">Name:</label>
            <input id="name_input" type="text" name="search_text" />
            <br>
            <label for="category_input">Category:</label>
            <input id="category_input" type="text" name="category" />
            <br><br>
            <input type="submit" value="OK" />
        </form>
    </body>
</html>